<section class="prompt">
    <h1>Sign up</h1>
    <form action="/auth/signup" method="post">
        <div>
            <label for="email"> Email </label>
            <input id="email" name="email" type="text" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required>
        </div>
        <br>
        <button type="submit">Sign up</button>
    </form>
    <p>이미 계정이 있다면?<a href="/signin"> Sign in</a></p>
</section>
